header {
  display: flex;
  width: 100%;
  z-index: 1;

  .brand {
    position: relative;
    height: 64px;
    width: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    background: none repeat scroll 0 0;
    background-color: unquote("rgb(#{$color-secondary})");

    small {
      position: absolute;
      top: 3px;
      right: 8px;
      color: unquote("rgb(#{$color-text})");
      font-style: italic;
    }


    a.logo {
      color: #FFFFFF;
      font-size: 28px;
      text-decoration: none;
    }
  }
}
